# Argon
/sourcemap.json

# Wally
/Packages
/ServerPackages
/DevPackages

# Artifacts
/*.lock
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx

# Misc
.DS_Store
/Backups/
Thumbs.db

# Logs / temp
*.log
logs/
tmp/
Output.log

# VS Code (за потреби)
.vscode/settings.json
*.code-workspace
ReplicatedStorage/ServerStorage


